<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clinic Aurora Visit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" width="45" height="45">AURORA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="row justify-content-center" size="80">

    <form th:align="center" th:action="@{/addVisit}">
        <div class="container-fluid" align="center">
            <div class=raw>
                <fieldset>
                    <legend>Visit form</legend>
                    <div class="form-group">

                        <div class="row form-group"></div>
                        <div class="row form-group"></div>
                        <h3>Choose date of your appointment: </h3>

                        <label class="col-form-label" for="inputDefault3">Day</label>

                        <input th:name="day" required type="number" min="1" step="1" max="31" class="form-control"
                               placeholder="Enter day" id="inputDefault3">

                        <label class="col-form-label" for="inputDefault4">Month</label>
                        <input th:name="month" required size=80 type="number" min="1" step="1" max="12"
                               class="form-control"
                               placeholder="Enter month" id="inputDefault4">

                        <label class="col-form-label" for="inputDefault5">Year</label>
                        <input th:name="year" required size=80 type="number" min="2020" step="1" max="2030"
                               class="form-control"
                               placeholder="Enter year" id="inputDefault5">

                        <div class="row form-group"></div>

                        <label for="exampleSelect1">Specialist</label>
                        <select th:name="specialization" class="form-control" id="exampleSelect1">
                            <option>CARDIOLOGIST</option>
                            <option>DENTIST</option>
                            <option>LARYNGOLOGIST</option>
                            <option>ORTHOPAEDIST</option>
                        </select>
                        <div class="row form-group"></div>

                        <label for="exampleSelect2">City</label>
                        <select th:name="institution" class="form-control" id="exampleSelect2">
                            <option>WROCLAW</option>
                            <option>WARSAW</option>
                            <option>POZNAN</option>
                        </select>
                        <div class="row form-group"></div>

                    </div>

                    <div class="row form-group"></div>

                    <button type="submit" value="submit1" class="btn btn-outline-primary role=">Next</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>
</div>

<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">AURORA CLINIC<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            aurora_medical@clinic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>