<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clinic Aurora</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
</head>


<body data-spy="scroll" data-target="#navbarResponsive">

<!--- Start Home Section-->
<div id="home">
    <!--- Start Nav-->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#"><img src="images/logo.png" width="45" height="45">AURORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#login">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doctors">Specialists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#where">Where are we</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--- End Nav-->

    <!--- Start Landing Page Section -->
    <style>
        div.background {
            background: url('images/biuro.jpg') no-repeat fixed;
            background-size: cover;
        ">
        }
    </style>

    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>

    <div class="background">
        <div class="caption text-center">
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <a class="btn btn-outline-primary btn-lg" th:href="@{/signIn}">Sign in</a>

            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>

        </div>
    </div>
</div>
</div>
<!--- End Landing Page Section -->
<!--- End Home Section-->

<!--- Start Login&Reg Section-->
<div id="login" class="offset">
    <div class="jumbotron">
        <div class="container">
            <h2>Welcome to our clinic</h2>
            <p>We will provide you with professional health care under a supervision of qualified specialists!<br> Don't
                have an account yet?</p><br>
            <p><a class="btn btn-outline-primary" th:href="@{/reg}" role="button">Register now
                &raquo;</a></p>
        </div>
    </div>
</div>
<!--- End Login&Reg Section-->

<style>
    div.background2 {
        background: url('images/doc2.jpg') no-repeat fixed;
        background-size: cover;
    ">
    }
</style>

<!--- Start Doctors Section-->
<div id="doctors" class="offset">

    <div class="background2">
        <div class="caption text-center">
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>

            <a class="btn btn-outline-primary btn-lg" th:href="@{/specialist}">Our specialists</a>

            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>

        </div>
    </div>
</div>
<!--- End Doctors Section-->

<div id="where" class="offset">
    <div class="jumbotron">
        <div class="container">
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <h2>Main headquarters in London</h2>

        </div>
    </div>
    <div class="span8">
        <div style="width: 100%">
            <iframe width="100%" height="400"
                    src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=27%20Western%20Road%2C%20London%2C%20England+(Travel%20Light)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                <a href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe>
        </div>
        <br/>
    </div>

    <div class="row form-group"></div>
    <div class="row form-group"></div>
</div>

<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">AURORA CLINIC<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            aurora_medical@clinic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>
