<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clinic Aurora Registration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" width="45" height="45">AURORA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
</nav>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="row justify-content-center">
    <form th:action="@{/add}" th:object="${newPatient}" th:method="post" th:align="center">
        <div class="container-fluid" align="center">
            <div class=raw>
                <fieldset>
                    <legend>Registration</legend>
                    <div class="form-group">

                        <label class="col-form-label" for="inputDefault1">Name</label>
                        <input required type="text" size=80 th:field="*{name}" name="name" class="form-control"
                               placeholder="Enter name" id="inputDefault1">
                        <div class="row form-group"></div>

                        <label class="col-form-label" for="inputDefault2">Surname</label>
                        <input required type="text" th:field="*{surname}" name="surname" class="form-control"
                               placeholder="Enter surname" id="inputDefault2">
                        <div class="row form-group"></div>

                        <label class="col-form-label" for="inputDefault3">Login</label>
                        <input required type="text" th:field="*{login}" name="name" class="form-control"
                               placeholder="Enter login" id="inputDefault3">
                        <div class="row form-group"></div>

                        <label class="col-form-label" for="inputDefault4">Password</label>
                        <input required type="password" th:field="*{password}" name="name" class="form-control"
                               placeholder="Enter password" id="inputDefault4">
                        <div class="row form-group"></div>
                    </div>

                    <div class="row form-group"></div>

                    <button type="submit" value="add new patient" class="btn btn-outline-primary role=">Submit</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>
</div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="container">
    <p><a th:href="@{/}">
        <button class="btn btn-info">Back</button>
    </a></p>
</div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">AURORA CLINIC<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            aurora_medical@clinic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>