<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clinic Aurora Specialists</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" width="45" height="45">AURORA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
</nav>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class=raw>

    <div th:each="d : ${doctors}" class="col-md-4">
        <div class="card mb-3">
            <h3 class="card-header" th:text="${d.getSpecialization()}"></h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: [[${d.getName()}]]</li>
                <li class="list-group-item">Surname: [[${d.getSurname()}]]</li>
                <li class="list-group-item">City: [[${d.getInstitution()}]]</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link text-muted">Contact</a>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <p><a th:href="@{/}">
        <button class="btn btn-info">Back</button>
    </a></p>
</div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">AURORA CLINIC<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            aurora_medical@clinic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>