<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clinic Aurora Visit Confirmation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" width="45" height="45">AURORA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>


<style>
    div.background {
        background: url('images/doc.jpg') no-repeat fixed;
        background-size: cover;
    ">
    }
</style>

<div class="background">
    <center>
        <div class="row form-group"></div>
        <div class="row form-group"></div>
        <div class="row form-group"></div>
        <div class="row form-group"></div>
        <div class="row form-group"></div>
        <div class="container-fluid">

            <div class="card border-dark mb-12" style="max-width: 30rem;">
                <div class="card-header">Visit confirmation</div>
                <div class="card-body">
                    <div class="row form-group"></div>
                    <p class="lead">Specialist: [[${specialization}]]<br></p>
                    <p class="lead">Doctor: [[${nameDoc}]] [[${surnameDoc}]]<br></p>
                    <p class="lead">Institution: [[${institution}]]<br></p>
                    <p class="lead">Date: [[${date}]]<br></p>
                    <p class="lead">Time: [[${time}]]<br></p>
                    <div class="row form-group"></div>

                    <p><a th:href="@{/trialBack}">
                        <button value="go to profile" class="btn btn-outline-primary role=">Go to profile</button>
                    </a></p>
                </div>
            </div>

        </div>
    </center>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
    <div class="row form-group"></div>
</div>


<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">AURORA CLINIC<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            aurora_medical@clinic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>